.main {
  max-width: 728px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.main .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.main input {
  margin-bottom: 14px;
}

.main label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
}

.main .positions {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.main .positions .img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #dddfe4;
  border-radius: 50%;
  cursor: pointer;
}

.main .submitBtn {
  width: 100%;
  padding: 10px 32px 9px 16px;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
  color: #fff;
  background: #46cfa7;
  border: 1px solid #46cfa7;
  cursor: pointer;
}
